[submodule "submodules/TinDaisy"]
	path = submodules/TinDaisy
	url = https://github.com/ding-lab/TinDaisy.git
[submodule "submodules/TinJasmine"]
	path = submodules/TinJasmine
	url = https://github.com/ding-lab/TinJasmine
[submodule "submodules/pecgs-fusion"]
	path = submodules/pecgs-fusion
	url = https://github.com/estorrs/pecgs-fusion
[submodule "submodules/pecgs-cnv"]
	path = submodules/pecgs-cnv
	url = https://github.com/estorrs/pecgs-cnv
[submodule "submodules/gdc-dnaseq-cwl"]
	path = submodules/gdc-dnaseq-cwl
	url = https://github.com/NCI-GDC/gdc-dnaseq-cwl
[submodule "submodules/sort_and_index_bam"]
	path = submodules/sort_and_index_bam
	url = https://github.com/estorrs/sort_and_index_bam
[submodule "submodules/align-dnaseq"]
	path = submodules/align-dnaseq
	url = https://github.com/estorrs/align-dnaseq
[submodule "submodules/cwl-conditional-steps"]
	path = submodules/cwl-conditional-steps
	url = https://github.com/estorrs/cwl-conditional-steps
[submodule "submodules/pecgs-bulk-expression"]
	path = submodules/pecgs-bulk-expression
	url = https://github.com/estorrs/pecgs-bulk-expression
[submodule "submodules/SomaticSV"]
	path = submodules/SomaticSV
	url = https://github.com/ding-lab/SomaticSV
[submodule "submodules/pecgs-neoscan"]
	path = submodules/pecgs-neoscan
	url = https://github.com/estorrs/pecgs-neoscan
[submodule "submodules/pecgs-charger"]
	path = submodules/pecgs-charger
	url = https://github.com/estorrs/pecgs-charger
[submodule "submodules/pecgs-druggability"]
	path = submodules/pecgs-druggability
	url = https://github.com/estorrs/pecgs-druggability
